








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>會員資料 - listOneEmp.html</title>

<head></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>會員個人資料 - listOneEmp.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/pFunction/customer/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOnecustomer-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>會員編號:</span><span th:text="${customerVO.customerId}"></span><br/>
		<span>會員暱稱:</span><span th:text="${customerVO.customerNic}"></span><br/>
		<span>手機號碼:</span><span th:text="${customerVO.customerMob}"></span><br/>
		<span>會員信箱:</span><span th:text="${customerVO.customerEmail}"></span><br/>
		<span>會員地址:</span><span th:text="${customerVO.customerAddress}"></span><br/>
		<span>會員狀態:</span><span th:text="${customerVO.customerState}"></span><br/>
		
	</div>


</body>
</html>