<!DOCTYPE html>
<html lang="en"
class="light-style layout-menu-fixed"
dir="ltr"
data-theme="theme-default"
data-template="vertical-menu-template-free"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>平台後台-首頁</title>
    <meta name="description" content="" />

    <!-- Freicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/backhome/img/freshlogo.png}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/backhome/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/backhome/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.css}" />

</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a th:href="@{index}" class="app-brand-link">
              <img class="img-fluid" width="160" th:src="@{/backhome/img/freshlogo1.png}" alt="Icon">            
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a th:href="@{index}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">鮮城後台首頁</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Client</span>
            </li>
            
            <li class="menu-item">

                 <a th:href="@{/pFunction/customer/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">一般會員管理</div>
                 </a>
            </li>
            <!-- Store -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Store</span></li>
              
              <li class="menu-item"> 
                <a th:href="@{/pFunction/orders/select_page}" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="store">查看訂單總表</div>
                 </a>
                 <ul class="menu-sub">
                  <li class="menu-item">
                    <a th:href="@{/pFunction/atm/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="store">匯款管理</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a th:href="@{/pFunction/refunds/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="client">退款作業</div>
                   </a>
                  </li>
                 </ul>
               </li>
               <li class="menu-item">
                 <a th:href="@{/pFunction/stores/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">店家會員管理</div>
                 </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                    <div data-i18n="store">店家帳號審核</div>
                 </a>
                </li>

              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-question-mark"></i>
                <div data-i18n="question-mark">忘記密碼</div>
              </a>

              <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div data-i18n="Exit">店家登入</div>
              </a> -->
            
            <!-- Fresh Town -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Fresh Town</span></li>

            <li class="menu-item">
              <a th:href="@{/pFunction/customer/select_page}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account Settings">員工帳號管理</div>
              </a>
              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">設定權限</div>
              </a> -->
              <a href="#" class="menu-link">
              <i class="menu-icon tf-icons bx bx-support"></i>
              <div data-i18n="Support">諮詢線上客服</div>
            </a>
            <a th:href="@{logout}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-exit"></i>
              <div data-i18n="Exit">登出</div>
            </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

       <!-- Layout container -->
			<div class="layout-page">

				<!-- Content wrapper -->
				<div class="content-wrapper">

					<!-- Content -->
					
					<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">店家後台首頁 /</span> 員工管理</h4>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/pFunction/platformEmp/select_page}"> 查詢</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='listAllPlatformEmp'> 員工列表</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='addPlatformEmp'> 新增員工</a>
          </li>
        </ul>
        <div class="card mb-4">
          <h5 class="card-header">會員修改</h5>
          <h5 class="card-header">所有欄位皆為必填欄位</h5>
          <!-- PlatformEmp -->
          <div class="card-body">
          
            <form th:action="@{update}" method="post" th:object="${platformEmpVO}" enctype="multipart/form-data">
			
			<div>
			<!--pk -->
			<label>員工編號:</label>
			<input type="number" th:field="*{pEmpId}" style="border:0px ; font-weight: bold;" readonly /><br/>
			<span th:if="${#fields.hasErrors('pEmpId')}" th:errors="*{pEmpId}" class="error" id="pEmpId.errors"></span>
			</div>
			
			<div>
			<label>員工姓名:</label>
			<input type="text" th:field="*{pEmpName}"  onclick="hideContent('pEmpPerm.errors');"  /><br/>
			<span th:if="${#fields.hasErrors('pEmpName')}" th:errors="*{pEmpName}" class="error" id="pEmpName.errors"></span>
			</div>
			
			<div>
			<label>員工帳號:</label>
			<input type="text" th:field="*{pEmpAccount}" style="border:0px ; font-weight: bold;" readonly /><br/>
			<span th:if="${#fields.hasErrors('pEmpAccount')}" th:errors="*{pEmpAccount}" class="error" id="pEmpAccount.errors"></span>
			</div>
			
			<div>
            <label>員工密碼:</label>
            <input type="password" th:field="*{pEmpPw}" onclick="hideContent('pEmpPw.errors');"  /><br/>
            <span th:if="${#fields.hasErrors('pEmpPw')}" th:errors="*{pEmpPw}" class="error" id="pEmpPw.errors"></span>
            </div>
			
			<div>
			<label>員工信箱:</label>
			<input type="text" th:field="*{pEmpEmail}" onclick="hideContent('pEmpEmail.errors');"  /><br/>
			<span th:if="${#fields.hasErrors('pEmpEmail')}" th:errors="*{pEmpEmail}" class="error" id="pEmpEmail.errors"></span>
			</div>
			
			<div>
			<label>員工狀態:</label>
			<select th:field="*{pEmpState}">
				<option  th:value="0" th:text="入職未報到" ></option>
				<option  th:value="1" th:text="入職已報到" ></option>
				<option  th:value="2" th:text="已離職" ></option>
			</select>
			<span th:if="${#fields.hasErrors('pEmpState')}" th:errors="*{pEmpState}" class="error" id="pEmpState.errors"></span>
			</div>
			
			<div>
			<label>員工權限:</label>
			<select th:field="*{pEmpPerm}">
				<option  th:value="0" th:text="客服" ></option>
				<option  th:value="1" th:text="工程師" ></option>
				<option  th:value="2" th:text="主管" ></option>
			</select>
			<span th:if="${#fields.hasErrors('pEmpPerm')}" th:errors="*{pEmpPerm}" class="error" id="pEmpPerm.errors"></span>
			
			</div>
		
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
				<div></div>
			</div>		
		</form>
            
	
	    </div>
        </div>

            
          </div>
          <!-- /Meals -->
        </div>
      </div>
    </div>
  </div>

				
				<!-- / Content -->
                    

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Tibame Cha104 Team1</a>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    
        <!-- Helpers -->
    <script th:src="@{/backhome/js/helpers.js}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/backhome/js/config.js}"></script>
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/backhome/libs/jquery/jquery.js}"></script>
    <script th:src="@{/backhome/libs/popper/popper.js}"></script>
    <script th:src="@{/backhome/js/bootstrap.js}"></script>
    <script th:src="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/backhome/js/menu.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/backhome/js/main.js}"></script>

    <!-- Page JS -->

    <script th:src="@{/backhome/js/form-basic-inputs.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>