








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料 - listOneEmp.html</title>

<head ></head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>退款單資料 - listOneMealType.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/pFunction/mealtype/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneMealType-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>分類編號:</span><span th:text="${mealTypeVO.mealTypeNo}"></span><br/>
		<span>分類名稱:</span><span th:text="${mealTypeVO.mealTypeName}"></span><br/>
	
	</div>


</body>
</html>