








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>購物車 .html</title>
<!-- <script th:src="@{/js/jquery-1.11.3.min.js}"></script> 左側jquery為table分頁用 -->
<head>
<link rel="stylesheet" th:href="@{/cFunction/css/allBase.css}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- ●● jquery datatables 設定 -->
<script>
	$(document).ready(function() {
		$('#example').DataTable({
			"lengthMenu": [5, 10, 20, 50, 100],
			"searching": false,  //搜尋功能, 預設是開啟
		    "paging": true,     //分頁功能, 預設是開啟
		    "ordering": true,   //排序功能, 預設是開啟
		    "language": {
		        "processing": "處理中...",
		        "loadingRecords": "載入中...",
		        "lengthMenu": "顯示 _MENU_ 筆結果",
		        "zeroRecords": "沒有符合的結果",
		        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
		        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
		        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
		        "infoPostFix": "",
		        "search": "搜尋:",
		        "paginate": {
		            "first": "第一頁",
		            "previous": "上一頁",
		            "next": "下一頁",
		            "last": "最後一頁"
		        },
		        "aria": {
		            "sortAscending":  ": 升冪排列",
		            "sortDescending": ": 降冪排列"
		        }
		    }
		});
	});
</script>
<style type="text/css">
body {
	margin: 1rem 12rem 2rem 12rem;
}
</style>
</head>
<body >


<!-- <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center"> -->
<!-- 		 <div align="center"> <h2>所有餐點分類資料 - listAllMealType.html</h2> -->
<!-- 		 <h3><a class="navbar-brand" th:href="@{/cFunction/cEntrancePass}"><img th:src="@{/images/back1.gif}">to index<label th:text="${success}"></label></a></h3></div> -->
<!-- </nav> -->

<table id="example" class="display " style="width: 100% ;" >
  <thead >
	<tr style="background-color:#CCCCFF">
		<th>項次</th>
		<th>餐點</th>
		<th>單價</th>
	    <th>數量</th>
	    <th>明細</th>
	    <th>小計</th>
	    <th>刪除</th>
	</tr>
  </thead>
	
  <tbody>
		<th:block th:each="cartDetailVO: ${cartDetailListData}">
			<tr>
				<td th:text="${cartDetailVOStat.count}">項次</td>
				<td th:text="${cartDetailVO.mealsVO.mealName}">餐點</td>
<!-- 				<td th:text="${cartDetailVO != null ? (cartDetailVO.mealsVO != null ? cartDetailVO.mealsVO.mealName : '空mealsVO') : '空cartDetailVO'}"></span> -->	
				<td th:text="${cartDetailVO.mealsVO.mealPrice}">單價</td>
				<td th:text="${cartDetailVO.mealQty}">數量</td>
				<td>
					<button  th:if="${cartDetailVO.customizedDetailList}!=null" type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#exampleModal_'+${cartDetailVO.id}">
					 明細
					</button> 		
									<!--彈窗明細 -->
														<div class="modal fade" th:id="'exampleModal_'+${cartDetailVO.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
														  <div class="modal-dialog">
														    <div class="modal-content">
														      <div class="modal-header">
														        <h5 class="modal-title" id="exampleModalLabel">餐點明細</h5>
														        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														      </div>
														      <div class="modal-body">
														        <table>
														        	<tr>
														        		<td>項目:</td>
											                   			 <td >選擇</td>  
											                   		</tr>
											                   		 <th:block th:each="customizedDetailVO: ${cartDetailVO.customizedDetailList}">
											                   		<tr>
																            <td th:text="${customizedDetailVO!=null?  customizedDetailVO.customizedItemsVO.custedName: ''}"></td>
																			<td th:text="${customizedDetailVO!=null?  customizedDetailVO.custedDtlName: ''}"></td>
																	</tr>
																</th:block>
														        </table>
														      </div>
														    </div>
														  </div>
														</div>	
				</td>	
				<td th:text="${cartDetailVO.qtyPrice}">小計</td>
				<td>
				  <form method="get" th:action="@{/cFunction/cartPage/deleteCart}" style="margin-bottom: 0px;">
				    <input type="hidden" name="cartId" th:value="${cartDetailVO.id}">
				     <input type="submit" value="刪除">
				  </form>			
				</td>
			</tr>
		</th:block>
  </tbody>
<!--   <tbody th:unless="${cartDetailListData != null}"> -->
<!--     <p>購物車中無商品</p> -->
<!-- </tbody> -->
</table>
<div th:if="${cartDetailListData != null and not cartDetailListData.isEmpty()}">
<form method="post" th:action="@{/cFunction/cartPage/payingOrder}">
	<div>總餐點:<span th:text="${totalQty}"></span> 總金額:<span th:text="${totalPrice}"></span></div>
	<input type="hidden" name="totalPrice"  th:value="${totalPrice}">
	<input type="hidden" name="storeId" th:value="${storeId}">
	<button type="button"><a th:href="@{/cFunction/storeMenu}">繼續點餐</a></button>
	 <button th:if="${totalQty > 0}" type="submit">結帳</button>
</form>
</div>
<div th:if="${cartDetailListData == null or cartDetailListData.isEmpty()}">
	<div>總餐點:<span th:text="${totalQty}"></span> 總金額:<span th:text="${totalPrice}"></span></div>
	<button type="button"><a th:href="@{/cFunction/cEntrancePass}">回點餐</a></button>
</div>
			




</body>

</html>