








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>訂單付款</title>

<head >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

		 <div align="center"> <h2>訂單資料 </h2></div>


	<div align="center" > 
		<h3><span>訂單編號:</span><span th:text="${ordersVO.orderId}"></span></h3>
			<span>店家名稱:</span><span th:text="${ordersVO.storesVO.storeName}"></span><br/>
			<span>下單時間:</span><span th:text="${ordersVO.orderTime}"></span><br/>
			<span>付款狀態:</span><span>未付款</span><br/>
			<span>總金額:</span><span th:text="${ordersVO.totalPrice}"></span><br/>
	</div>
	<form align="center" id="paidOrder" method="post" th:action="@{/cFunction/cartPage/paidOrder}">
	<input type="hidden"  name="payStatus" value="payseccess">
	<input type="hidden" id="orderId"  name="orderId" th:value="${ordersVO.orderId}">
	<input type="hidden" id="storeId"  name="storeId" th:value="${ordersVO.storesVO.storeId}">
	<input type="hidden" id="customerId"  name="customerId" th:value="${customerId}">
		<button align="center" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >信用卡付款</button>
	</form>
	
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="staticBackdropLabel"></h5>
			      </div>
			      <div class="modal-body" style="font-size:2rem">
			        付款成功
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="submitForm()">確認</button>
			      </div>
			    </div>
			  </div>
			</div>
	
	
	
	
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<!-- <script> 

function submitForm() {
	connect();
//  	sendOrder();
	 setTimeout(disconnect, 5 * 60 * 1000); 
	
    // Get the form element
    var form = document.getElementById("paidOrder");
    // Submit the form
    form.submit();
}

</script>

<script>
let userName = document.getElementById("customerId"); // 如果 userName 為 null 或 undefined，則設置一個預設值
	let MyPoint = "/COrderWS/"+userName;
	let host = window.location.host;
	let path = window.location.pathname;
	let webCtx = path.substring(0,path.indexOf("/",1));
	let endPointURL="ws://"+window.location.host+webCtx+MyPoint;

	let self=userName;
	let webSocket;
	
	function connect(){
		webSocket = new WebSocket(endPointURL);
		
		webSocket.onopen = function(even){
			console.log("連線成功");
			console.log("userName="+userName);
// 			document.getElementById("sendOrder").disabled=false;
// 			document.getElementById("connect").disabled=true;
// 			document.getElementById("disconnect").disabled=false;
			sendOrder();
		};
		
		
		webSocket.onclose=function(event){
			console.log("結束連線");
		}
	}

	function sendOrder(){
		let orderId=document.getElementById("orderId");
		let storeId=document.getElementById("storeId");
		
		let jsonObj={
				"type":"newOrder",
				"sender" :self ,
				"receiver" : storeId,
				"massage":orderId
		};
		webSocket.send(JSON.stringify(jsonObj));
	}
	
	function disconnect(){
		webSocket.close();
// 		document.getElementByName("sendOrder").disabled=true;
// 		document.getElementByName("connect").disabled=false;
// 		document.getElementByName("disconnect").disabled=true;
	}
</script>-->
	
</body>
</html>