<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr"
	data-theme="theme-default" data-template="vertical-menu-template-free"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,  user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>所有分類資料 - listAllMealType.html</title>
<meta name="description" content="" />

<!-- Freicon -->
<link rel="shortcut icon" type="image/png" th:href="@{/backhome/img/freshlogo.png}" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
	rel="stylesheet">

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" th:href="@{/backhome/fonts/boxicons.css}" />

<!-- Core CSS -->
<link rel="stylesheet" th:href="@{/backhome/css/core.css}"
	class="template-customizer-core-css" />
<link rel="stylesheet" th:href="@{/backhome/css/theme-default.css}"
	class="template-customizer-theme-css" />
<link rel="stylesheet" th:href="@{/backhome/css/demo.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet" th:href="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.css}" />
<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css}" />
<!-- ●●css for jquery datatables 用 -->
<!-- <script th:src="@{/js/jquery-1.11.3.min.js}"></script> -->
<!-- 左側jquery為table分頁用 -->

<style type="text/css">

.dropdown-item a {
	color: #697A8D; /* 使用預設文字顏色 */
	font-size: 15px; /* 使用預設文字大小 */
	padding: 0px;
}



</style>
</head>
<body>

	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<aside id="layout-menu"
				class="layout-menu menu-vertical menu bg-menu-theme">
				<div class="app-brand demo">
					<a th:href="@{index}" class="app-brand-link"> <img
						class="img-fluid" width="160"
						th:src="@{/backhome/img/freshlogo1.png}" alt="Icon">
					</a> <a href="javascript:void(0);"
						class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
						<i class="bx bx-chevron-left bx-sm align-middle"></i>
					</a>
				</div>

				<div class="menu-inner-shadow"></div>

				<ul class="menu-inner py-1">
					<!-- Dashboard -->
					<li class="menu-item"><a th:href="@{/sFunction/sEntrancePass}"
						class="menu-link"> <i
							class="menu-icon tf-icons bx bx-home-circle"></i>
							<div data-i18n="Analytics">店家後台首頁</div>
					</a></li>

					<!-- Inventory & Purchasing -->
					<li class="menu-header small text-uppercase"><span
						class="menu-header-text">Inventory&Purchasing</span></li>

					<li class="menu-item"><a href="#"
						class="menu-link menu-toggle"> <i
							class="menu-icon tf-icons bx bx-store"></i>
							<div data-i18n="store">採購作業</div>
					</a>
						<ul class="menu-sub">
							<li class="menu-item"><a
								th:href="@{/sFunction/suporder/supOrderMain}" class="menu-link">
									<i class="menu-icon"></i>
									<div data-i18n="store">管理採購單</div>
							</a></li>
							<li class="menu-item"><a
								th:href="@{/sFunction/supplier/test}" class="menu-link"> <i
									class="menu-icon"></i>
									<div data-i18n="client">管理供應商</div>
							</a></li>
						</ul></li>

					<li class="menu-item"><a href="#"
						class="menu-link menu-toggle"> <i
							class="menu-icon tf-icons bx bx-package"></i>
							<div data-i18n="store">庫存作業</div>
					</a>
						<ul class="menu-sub">
							<li class="menu-item"><a
								th:href="@{/sFunction/material/listAllMaterial}"
								class="menu-link"> <i class="menu-icon"></i>
									<div data-i18n="store">管理物料</div>
							</a></li>
							<li class="menu-item"><a
								th:href="@{/sFunction/material/select_page}" class="menu-link">
									<i class="menu-icon"></i>
									<div data-i18n="store">查詢物料</div>
							</a></li>
							<li class="menu-item"><a
								th:href="@{/sFunction/itemsclass/select_page}" class="menu-link">
									<i class="menu-icon"></i>
									<div data-i18n="store">管理物料分類</div>
							</a></li>
							<li class="menu-item"><a
								th:href="@{/sFunction/picking/listAllPicking}" class="menu-link">
									<i class="menu-icon"></i>
									<div data-i18n="store">領料申請</div>
							</a></li>
							<li class="menu-item"><a
								th:href="@{/sFunction/picking/select_page}" class="menu-link">
									<i class="menu-icon"></i>
									<div data-i18n="store">查詢領料表</div>
							</a></li>
						</ul></li>
					<!-- Order-->
					<li class="menu-header small text-uppercase"><span
						class="menu-header-text">Order</span></li>

					<!--管理訂單        -->
					<li class="menu-item"><a
						th:href="@{/sFunction/orders/select_page}" class="menu-link">
							<i class="menu-icon tf-icons bx bx-receipt"></i>
							<div data-i18n="orders">管理訂單</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link"
						th:onclick="submitForm('orderOrders')"> <i
							class="menu-icon tf-icons bx bx-sort-up"></i>
							<div data-i18n="store">顯示訂單排程</div>
					</a></li>

					<!-- Meals-->
					<li class="menu-header small text-uppercase"><span
						class="menu-header-text">Meals</span></li>

					<li class="menu-item"><a
						th:href="@{/sFunction/meals/select_page}" class="menu-link"> <i
							class="menu-icon tf-icons bx bx-restaurant"></i>
							<div data-i18n="Authentications">管理餐點</div>
					</a></li>
					<!-- Store -->
					<li class="menu-header small text-uppercase"><span
						class="menu-header-text">Store</span></li>

					<li class="menu-item"><a href="#" class="menu-link"
						th:onclick="submitForm('storeInfo')"> <i
							class="menu-icon tf-icons bx bx-spreadsheet"></i>
							<div data-i18n="store">店家資料管理</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link"> <i
							class="menu-icon tf-icons bx bx-message-dots"></i>
							<div data-i18n="Account Settings">查看評論</div>
					</a></li>

					<li class="menu-item"><a
						href="@{/sFunction/storeEmp/select_page}" class="menu-link"> <i
							class="menu-icon tf-icons bx bx-dock-top"></i>
							<div data-i18n="store">店家員工帳號管理</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link"> <i
							class="menu-icon tf-icons bx bx-support"></i>
							<div data-i18n="Support">諮詢線上客服</div>
					</a></li>
					<li class="menu-item"><a href="#" class="menu-link"> <i
							class="menu-icon tf-icons bx bx-exit"></i>
							<div data-i18n="Exit">登出</div>
					</a></li>
				</ul>
			</aside>

			<!-- / Menu -->
			<!-- / Navbar -->
			<!-- Layout container -->
			<div class="layout-page">
				<!-- Content-wrapper 麵包屑 -->
				<div class="content-wrapper">
					<!-- Content -->
					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="fw-bold py-3 mb-4">
							<span class="text-muted fw-light">店家後台首頁 /</span>管理物料分類
						</h4>
						
							<!-- Material Table -->
							<div class="card" >
								<!--                               <h5 class="card-header">Material Basic</h5> -->
						   <div class="table-responsive text-nowrap py-1">
								 <table class="table" id="example">
										<thead>
											<tr>
												<th>物料分類編號</th>
												<th>物料分類名稱</th>
												<th>採取動作</th>
											</tr>
										</thead>
									<tbody class="table-border-bottom-0">							
										<th:block th:each="itemsClassVO : ${itemsClassListData}">
											<tr>
												<td th:text="${itemsClassVO.itemClassId}">分類編號</td>
												<td th:text="${itemsClassVO.itemClassName}">分類名稱</td>
												<td>
													<div class="dropdown">
														<button type="button"
															class="btn p-0 dropdown-toggle hide-arrow"
															data-bs-toggle="dropdown">
															<i class="bx bx-dots-vertical-rounded"></i>
														</button>
														<div class="dropdown-menu">
															<form method="post"
																th:action="@{/sFunction/itemsclass/getOne_For_Update}">
																<button type="submit" class="dropdown-item">
																	<i class="bx bx-edit-alt me-1"></i>修改
																</button>
																<input type="hidden" name="itemClassId"
																	th:value="${itemsClassVO.itemClassId}">
															</form>
															<div>
																<i class=" dropdown-item bx bx-message-square-add me-1">
																	<a href='addItemsClass'>新增</a>
																</i>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
				 </div>
				
<!-- Footer -->
					<footer class="content-footer footer bg-footer-theme">
						<div
							class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
							<div class="mb-2 mb-md-0">
								©
								<script>
	                    document.write(new Date().getFullYear());
	                  </script>
								, made with ❤️ by <a href="https://themeselection.com"
									target="_blank" class="footer-link fw-bolder">Tibame Cha104
									Team1</a>
							</div>
						</div>
					</footer>
					<!-- / Footer -->

					<div class="content-backdrop fade"></div>
				</div>
				<!-- Content wrapper -->
			</div>
			<!-- /  Layout page -->

			<!-- Overlay -->
			<div class="layout-overlay layout-menu-toggle"></div>
		</div>
	</div>
	<!-- / Layout wrapper -->
	<!-- Helpers -->
	<script th:src="@{/backhome/js/helpers.js}"></script>
	<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
	<script th:src="@{/backhome/js/config.js}"></script>
	<!-- build:js assets/vendor/js/core.js -->
	<script th:src="@{/backhome/libs/jquery/jquery.js}"></script>
	<script th:src="@{/backhome/libs/popper/popper.js}"></script>
	<script th:src="@{/backhome/js/bootstrap.js}"></script>
	<script
		th:src="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
	<script th:src="@{/backhome/js/menu.js}"></script>

	<!-- Main JS -->
	<script th:src="@{/backhome/js/main.js}"></script>
	<!-- Page JS -->
	<script th:src="@{/backhome/js/form-basic-inputs.js}"></script>

	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
<!-- ●●js  for jquery datatables 用 -->
<script
	th:src="@{https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js}"></script>
<!-- ●●js  for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->
<script>
	$(document)
			.ready(
					function() {
						$("#example")
								.DataTable(
										{
											"lengthMenu" : [ 3, 5, 10, 20, 50,
													100 ],
											"searching" : true, //搜尋功能, 預設是開啟
											"paging" : true, //分頁功能, 預設是開啟
											"ordering" : true, //排序功能, 預設是開啟
											"language" : {
												"processing" : "處理中...",
												"loadingRecords" : "載入中...",
												"lengthMenu" : "顯示 _MENU_ 筆結果",
												"zeroRecords" : "沒有符合的結果",
												"info" : "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
												"infoEmpty" : "顯示第 0 至 0 筆結果，共 0 筆",
												"infoFiltered" : "(從 _MAX_ 筆結果中過濾)",
												"infoPostFix" : "",
												"search" : "搜尋:",
												"paginate" : {
													"first" : "第一頁",
													"previous" : "上一頁",
													"next" : "下一頁",
													"last" : "最後一頁"
												},
												"aria" : {
													"sortAscending" : ": 升冪排列",
													"sortDescending" : ": 降冪排列"
												},
												"initComplete": function () {
												    // 將 DataTables 中的標體字體大小變大
												    $(".dataTables_wrapper").css("font-size", "10px");
												    $(".dataTables_wrapper table").css("font-size", "12px"); // 調整表格中的字體大小
												    $(".dataTables_wrapper th, .dataTables_wrapper td").css("font-size", "12px"); // 調整表頭和表格內容的字體大小
												}
											}
										});
					});
</script>			
</body>
</html>