<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>物料分類資料 - listOneItemsClass.html</title>
<head></head>
<style type="text/css">
span {
	display: inline-block;
	width: 150px;
	text-align: left;
	font-weight: bold;
}
</style>
</head>
<body>
	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		<div align="center">
			<h2>物料分類資料 - listOneItemsClass.html</h2>
			<h3>
				<a class="navbar-brand"
					th:href="@{/sFunction/itemsclass/select_page}"><img
					th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a>
			</h3>
		</div>
	</nav>
	<div align="center" th:fragment="listOneItemsClass-div">
		<!-- 此div被select_page.html第128行insert用 -->
		<h3>
			<span>查詢結果 :</span>
		</h3>
		<span>物料分類編號:</span><span th:text="${itemsClassVO.itemClassId}"></span><br />
		<span>物料分類名稱:</span><span th:text="${itemsClassVO.itemClassName}"></span><br />
		<span>店家流水編號:</span><span th:text="${itemsClassVO.storesVO.storeId}"></span><br />
	</div>	
</body>
</html>