








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>員工資料新增 - addEmp.html</title>

<head ></head>
<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>店家資料新增 - addEmp.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/stores/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{insert}" method="post" th:object="${storesVO}" enctype="multipart/form-data">
			
			
				<div>
				<label>店家帳號:</label>
				<input type="text" th:field="*{storeAccount}" onclick="hideContent('storeAccount.errors');" />
				<span  th:if="${#fields.hasErrors('storeAccount')}" th:errors="*{storeAccount}" class="error" id="storeAccount.errors"></span>
				</div>
						
				<div>
				<label>店家密碼:</label>
				<input type="password" th:field="*{storePw}" onclick="hideContent('storePw.errors');" />
				<span  th:if="${#fields.hasErrors('storePw')}" th:errors="*{storePw}" class="error" id="storePw.errors"></span>
				</div>
				
				
				<div>
				<label>店家名稱:</label>
				<input type="text" th:field="*{storeName}" onclick="hideContent('storeName.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}" class="error" id="storeName.errors"></span>
				</div>
				<div>
				<label>店家統一編號:</label>
				<input type="text" th:field="*{storeGui}" onclick="hideContent('storeGui.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeGui')}" th:errors="*{storeGui}" class="error" id="storeGui.errors"></span>
				</div>
				<div>
				<label>店家地址:</label>
				<input type="text" th:field="*{storeAddress}" onclick="hideContent('storeAddress.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeAddress')}" th:errors="*{storeAddress}" class="error" id="storeAddress.errors"></span>
				</div>
				
				<div>
				<label>店家經度:</label>
				<input type="text" th:field="*{storeLag}" onclick="hideContent('storeLag.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeLag')}" th:errors="*{storeLag}" class="error" id="storeLag.errors"></span>
				</div>
				
				<div>
				<label>店家緯度:</label>
				<input type="text" th:field="*{storeLat}" onclick="hideContent('storeLat.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeLat')}" th:errors="*{storeLat}" class="error" id="storeLat.errors"></span>
				</div>
				
				
				<div>
				<label>店家電話:</label>
				<input type="text" th:field="*{storePhone}" onclick="hideContent('storePhone.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storePhone')}" th:errors="*{storePhone}" class="error" id="storePhone.errors"></span>
				</div>
				<div>
				<label>店家狀態:</label>
				<input type="text" th:field="*{storeState}" onclick="hideContent('storeState.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeState')}" th:errors="*{storeState}" class="error" id="storeState.errors"></span>
				</div>
				<div>
				<label>店家等級:</label>
				<input type="text" th:field="*{storeLv}" onclick="hideContent('storeLv.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('storeLv')}" th:errors="*{storeLv}" class="error" id="storeLv.errors"></span>
				</div>
				<div>
				<label>開通時間:</label>
				<input type="date" th:field="*{createDate}"  onclick="hideContent('createDate.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('createDate')}" th:errors="*{createDate}" class="error" id="createDate.errors"></span>
				</div>
					
			<div>
			<label>付費日期:</label>
			<input type="date" th:field="*{payDate}" onclick="hideContent('payDate.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('payDate')}" th:errors="*{payDate}" class="error" id="payDate.errors"></span>
			</div>
		
				<div>
				<label>平台開店:</label>
				<input type="text" th:field="*{pushUp}" onclick="hideContent('pushUp.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('pushUp')}" th:errors="*{pushUp}" class="error" id="pushUp.errors"></span>
				</div>
				<div>
				<label>店家負責人:</label>
				<input type="text" th:field="*{ownerName}" onclick="hideContent('ownerName.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('ownerName')}" th:errors="*{ownerName}" class="error" id="ownerName.errors"></span>
				</div>
				<div>
				<label>負責人手機號碼:</label>
				<input type="text" th:field="*{ownerMob}" onclick="hideContent('ownerMob.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('ownerMob')}" th:errors="*{ownerMob}" class="error" id="ownerMob.errors"></span>
				</div>
				<div>
				<label>身分證:</label>
				<input type="text" th:field="*{ownerId}" onclick="hideContent('ownerId.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('ownerId')}" th:errors="*{ownerId}" class="error" id="ownerId.errors"></span>
				</div>
				<div>
				<label>負責人地址:</label>
				<input type="text" th:field="*{ownerAddress}" onclick="hideContent('ownerAddress.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('ownerAddress')}" th:errors="*{ownerAddress}" class="error" id="ownerAddress.errors"></span>
				</div>
				<div>
				<label>EMAIL:</label>
				<input type="text" th:field="*{ownerEmail}" onclick="hideContent('ownerEmail.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('ownerEmail')}" th:errors="*{ownerEmail}" class="error" id="ownerEmail.errors"></span>
				</div>
				
				<div>
				<label>評分:</label>
				<input type="text" th:field="*{totalScore}"  onclick="hideContent('totalScore.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('totalScore')}" th:errors="*{totalScore}" class="error" id="totalScore.errors"></span>
				</div>
				
				<div>
				<label>評分人數:</label>
				<input type="text" th:field="*{scorePeople}"  onclick="hideContent('scorePeople.errors');" /><br/>
				<span  th:if="${#fields.hasErrors('scorePeople')}" th:errors="*{scorePeople}" class="error" id="scorePeople.errors"></span>
				</div>
							
			<div>
			<label>照片:</label>
			<input type="file" th:field="*{photo}" onclick="previewImage()" multiple="multiple" onchange="hideContent('photo.errors');" />
<!-- 			<span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
			<span class="error" th:utext="${errorMessage}" id="photo.errors">${errorMessage}</span>
<!-- 			<h2 id="errorMessage">${errorMessage}</h2>  -->
			<div id="blob_holder"></div>
			</div>
			
			
			
				<div>
				<label>店家簡介:</label>
				<input type="text" th:field="*{storeDesc}" onclick="hideContent('storeDesc.errors');" /><br/>/>
				<span  th:if="${#fields.hasErrors('storeDesc')}" th:errors="*{storeDesc}" class="error" id="storeDesc.errors"></span>
				</div>
			
							<div>
				<label>固定店休日:</label>
				<input type="text" th:field="*{restDay}" onclick="hideContent('restDay.errors');" /><br/>/>
				<span  th:if="${#fields.hasErrors('restDay')}" th:errors="*{restDay}" class="error" id="restDay.errors"></span>
				</div>
			
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>


<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
	alert("No FileReader support");
}
acceptedTypes = {
		'image/png' : true,
		'image/jpeg' : true,
		'image/gif' : true
};
function previewImage() {
	var upfile1 = document.getElementById("upFiles");
	upfile1.addEventListener("change", function(event) {
		var files = event.target.files || event.dataTransfer.files;
		for (var i = 0; i < files.length; i++) {
			previewfile(files[i])
		}
	}, false);
}
function previewfile(file) {
	if (filereader_support === true && acceptedTypes[file.type] === true) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var image = new Image();
			image.src = event.target.result;
			image.width = 100;
			image.height = 75;
			image.border = 2;
			if (blob_holder.hasChildNodes()) {
				blob_holder.removeChild(blob_holder.childNodes[0]);
			}
			blob_holder.appendChild(image);
		};
		reader.readAsDataURL(file);
		document.getElementById('submit').disabled = false;
	} else {
		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
				+ "<br>" + "● ContentTyp: " + file.type
				+ "<br>" + "● size: " + file.size + "bytes"
				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		document.getElementById('submit').disabled = true;
	}
}
</script>

</body>
</html>