








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>所有店家資料 - listAllEmp.html</title>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script> <!-- 左側jquery為table分頁用 -->
<head></head>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->

<!-- ●● jquery datatables 設定 -->
<script>
	$(document).ready(function() {
		$('#example').DataTable({
			"lengthMenu": [3 ,5, 10, 20, 50, 100],
			"searching": true,  //搜尋功能, 預設是開啟
		    "paging": true,     //分頁功能, 預設是開啟
		    "ordering": true,   //排序功能, 預設是開啟
		    "language": {
		        "processing": "處理中...",
		        "loadingRecords": "載入中...",
		        "lengthMenu": "顯示 _MENU_ 筆結果",
		        "zeroRecords": "沒有符合的結果",
		        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
		        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
		        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
		        "infoPostFix": "",
		        "search": "搜尋:",
		        "paginate": {
		            "first": "第一頁",
		            "previous": "上一頁",
		            "next": "下一頁",
		            "last": "最後一頁"
		        },
		        "aria": {
		            "sortAscending":  ": 升冪排列",
		            "sortDescending": ": 降冪排列"
		        }
		    }
		});
	});
</script>
<style type="text/css">
body {
	margin: 1rem 12rem 2rem 12rem;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>所有店家資料 - listAllstores.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/stores/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

<table id="example" class="display" style="width: 100%">
  <thead >
	<tr style="background-color:#CCCCFF">
		<th>項次</th>
		<th>店家流水號</th>
		<th>店家帳號</th>
		<th>店家名稱</th>
		<th>店家統一編號</th>
		<th>店家地址</th>
		<th>店家電話</th>
		<th>店家狀態</th>
		<th>店家等級</th>
		<th>開通時間</th>
		<th>付費日期</th>
		<th>平台開店</th>
		<th>店家負責人</th>
		<th>負責人手機號碼</th>
		<th>身分證</th>
		<th>負責人地址</th>
		<th>EMAIL</th>
		<th>評分</th>
		<th>photo</th>
		<th>店家簡介</th>
		<th>修改</th>
		
	</tr>
  </thead>
	
  <tbody>
		<th:block th:each="storesVO : ${storesListData}">
			<tr>
				<td th:text="${storesVOStat.count}">項次</td>
				<td th:text="${storesVO.storeId}">店家流水號</td>
				<td th:text="${storesVO.storeAccount}">店家帳號</td>
				<td th:text="${storesVO.storeName}">店家名稱</td>
				<td th:text="${storesVO.storeGui}">店家統一編號</td>
				<td th:text="${storesVO.storeAddress}">店家地址</td>
				<td th:text="${storesVO.storePhone}">店家電話</td>
				<td th:text="${storesVO.storeState}">店家狀態</td>
				<td th:text="${storesVO.storeLv}">店家等級</td>
				<td th:text="${storesVO.createDate}">開通時間</td>
				<td th:text="${storesVO.payDate}">付費日期</td>
				<td th:text="${storesVO.pushUp}">平台開店</td>
				<td th:text="${storesVO.ownerName}">店家負責人</td>
				<td th:text="${storesVO.ownerMob}">負責人手機號碼</td>
				<td th:text="${storesVO.ownerId}">身分證</td>
				<td th:text="${storesVO.ownerAddress}">負責人地址</td>
				<td th:text="${storesVO.ownerEmail}">EMAIL</td>
				<td th:text="${storesVO.totalScore}">評分</td>
				<td><img th:src="@{/stores/DBGifReader} + '?storeId=' + ${storesVO.storeId}" width="100px"></td>
				<td th:text="${storesVO.storeDesc}">店家簡介</td>
				<td>
				  <form method="post" th:action="@{/stores/getOne_For_Update}" style="margin-bottom: 0px;">
				     <input type="submit" value="修改">
				     <input type="hidden" name="storeId" th:value="${storesVO.storeId}"></form>			
				</td>
			</tr>
		</th:block>
  </tbody>
</table>

</body>
</html>