<!DOCTYPE html>
<html lang="en"
class="light-style layout-menu-fixed"
dir="ltr"
data-theme="theme-default"
data-template="vertical-menu-template-free"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>平台後台-首頁</title>
    <meta name="description" content="" />

    <!-- Freicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/backhome/img/freshlogo.png}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/backhome/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/backhome/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.css}" />


<style type="text/css">
	
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a th:href="@{index}" class="app-brand-link">
              <img class="img-fluid" width="160" th:src="@{/backhome/img/freshlogo1.png}" alt="Icon">            
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a th:href="@{index}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">鮮城後台首頁</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Client</span>
            </li>
            
            <li class="menu-item">

                 <a th:href="@{/pFunction/customer/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">一般會員管理</div>
                 </a>
            </li>
            <!-- Store -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Store</span></li>
              
              <li class="menu-item"> 
                <a th:href="@{/pFunction/orders/select_page}" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="store">查看訂單總表</div>
                 </a>
                 <ul class="menu-sub">
                  <li class="menu-item">
                    <a th:href="@{/pFunction/atm/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="store">匯款管理</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a th:href="@{/pFunction/refunds/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="client">退款作業</div>
                   </a>
                  </li>
                 </ul>
               </li>
               <li class="menu-item">
                 <a th:href="@{/pFunction/stores/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">店家會員管理</div>
                 </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                    <div data-i18n="store">店家帳號審核</div>
                 </a>
                </li>

              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-question-mark"></i>
                <div data-i18n="question-mark">忘記密碼</div>
              </a>

              <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div data-i18n="Exit">店家登入</div>
              </a> -->
            
            <!-- Fresh Town -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Fresh Town</span></li>

            <li class="menu-item">
              <a th:href="@{/pFunction/platformEmp/select_page}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account Settings">員工帳號管理</div>
              </a>
              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">設定權限</div>
              </a> -->
              <a href="#" class="menu-link">
              <i class="menu-icon tf-icons bx bx-support"></i>
              <div data-i18n="Support">諮詢線上客服</div>
            </a>
            <a th:href="@{/pFunction/logoutP}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-exit"></i>
              <div data-i18n="Exit">登出</div>
            </a>
            </li>
          </ul>
        </aside>
        
                        <!-- Layout container -->
        <div class="layout-page">
         <!-- Content wrapper -->
          <div class="content-wrapper">
                        <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">

	<div align="center" th:fragment="listOneStores-div"> <!-- 此div被select_page.html第128行insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>訂單編號:</span><span th:text="${storesVO.storeId}"></span><br/>
		<span>店家帳號</span><span th:text="${storesVO.storeAccount}"></span><br/>
		<span>店家名稱</span><span th:text="${storesVO.storeName}"></span><br/>
		<span>店家統一編號</span><span th:text="${storesVO.storeGui}"></span><br/>
		<span>店家地址</span><span th:text="${storesVO.storeAddress}"></span><br/>
		<span>店家電話</span><span th:text="${storesVO.storePhone}"></span><br/>
		<span>店家狀態</span><span th:text="${storesVO.storeState}"></span><br/>
		<span>店家等級</span><span th:text="${storesVO.storeLv}"></span><br/>
		<span>開通時間</span><span th:text="${storesVO.createDate}"></span><br/>
		<span>付費日期</span><span th:text="${storesVO.payDate}"></span><br/>
		<span>平台開店</span><span th:text="${storesVO.pushUp}"></span><br/>
		<span>店家負責人</span><span th:text="${storesVO.ownerName}"></span><br/>
		<span>負責人手機號碼</span><span th:text="${storesVO.ownerMob}"></span><br/>
		<span>身分證</span><span th:text="${storesVO.ownerId}"></span><br/>
		<span>負責人地址</span><span th:text="${storesVO.ownerAddress}"></span><br/>
		<span>EMAIL</span><span th:text="${storesVO.ownerEmail}"></span><br/>
		<span>評分人數</span><span th:text="${storesVO.scorePeople}"></span><br/>
		<span>總評分</span><span th:text="${storesVO.totalScore}"></span><br/>
		<span>平均評分</span><span th:text="${(storesVO.totalScore)/(storesVO.scorePeople)}"></span><br/>
		<span>照片:</span><span><img th:src="@{/file/DBGifReader} + '?storeId=' + ${storesVO.storeId}" width="100px"></span><br/>
		<span>店家簡介</span><span th:text="${storesVO.storeDesc}"></span><br/>

	</div>
	
    </div>
    </div>
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    
        <!-- Helpers -->
    <script th:src="@{/backhome/js/helpers.js}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/backhome/js/config.js}"></script>
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/backhome/libs/jquery/jquery.js}"></script>
    <script th:src="@{/backhome/libs/popper/popper.js}"></script>
    <script th:src="@{/backhome/js/bootstrap.js}"></script>
    <script th:src="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/backhome/js/menu.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/backhome/js/main.js}"></script>

    <!-- Page JS -->

    <script th:src="@{/backhome/js/form-basic-inputs.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>