<!DOCTYPE html>
<html lang="en"
class="light-style layout-menu-fixed"
dir="ltr"
data-theme="theme-default"
data-template="vertical-menu-template-free"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>平台後台-首頁</title>
    <meta name="description" content="" />

    <!-- Freicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/backhome/img/freshlogo.png}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/backhome/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/backhome/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.css}" />

</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a th:href="@{index}" class="app-brand-link">
              <img class="img-fluid" width="160" th:src="@{/backhome/img/freshlogo1.png}" alt="Icon">            
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a th:href="@{index}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">鮮城後台首頁</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Client</span>
            </li>
            
            <li class="menu-item">

                 <a th:href="@{/pFunction/customer/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">一般會員管理</div>
                 </a>
            </li>
            <!-- Store -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Store</span></li>
              
              <li class="menu-item"> 
                <a th:href="@{/pFunction/orders/select_page}" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="store">查看訂單總表</div>
                 </a>
                 <ul class="menu-sub">
                  <li class="menu-item">
                    <a th:href="@{/pFunction/atm/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="store">匯款管理</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a th:href="@{/pFunction/refunds/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="client">退款作業</div>
                   </a>
                  </li>
                 </ul>
               </li>
               <li class="menu-item">
                 <a th:href="@{/pFunction/stores/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">店家會員管理</div>
                 </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                    <div data-i18n="store">店家帳號審核</div>
                 </a>
                </li>

              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-question-mark"></i>
                <div data-i18n="question-mark">忘記密碼</div>
              </a>

              <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div data-i18n="Exit">店家登入</div>
              </a> -->
            
            <!-- Fresh Town -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Fresh Town</span></li>

            <li class="menu-item">
              <a th:href="@{/pFunction/platformEmp/select_page}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account Settings">員工帳號管理</div>
              </a>
              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">設定權限</div>
              </a> -->
              <a href="#" class="menu-link">
              <i class="menu-icon tf-icons bx bx-support"></i>
              <div data-i18n="Support">諮詢線上客服</div>
            </a>
            <a th:href="@{/pFunction/logoutP}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-exit"></i>
              <div data-i18n="Exit">登出</div>
            </a>
            </li>
          </ul>
        </aside>
        
                        <!-- Layout container -->
        <div class="layout-page">
         <!-- Content wrapper -->
          <div class="content-wrapper">
                        <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">

	<h4><span>店家資料查詢:</span></h4>
<nav>
	<!-- 錯誤表列 -->
	<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
	<div class="a">
	  <ul>
		

		<!--  萬用複合查詢-以下欄位-可隨意增減 -->
		  
		  <li>   
		    <form method="post" th:action="@{listStores_ByCompositeQuery}">
		        <font color=blue>萬用複合查詢:</font><br>
		        店家流水號: 
		        <input type="text" name="storeId" value="">
		        
		        店家帳號: 
		        <input type="text" name="storeAccount" value="">
		        
		         店家名稱: 
		        <input type="text" name="storeName" value=""><br>
		           
		        店家統一編號: 
		        <input type="text" name="storeGui" value="">
		        
		         店家電話: 
		        <input type="text" name="storePhone" value=""><br>
		        	        
		         店家狀態(0: 審核中 1: 審核未通過 2:帳號開通 3: 停權 4: 作廢帳號): 
		        <input type="text" name="storeState" value=""><br>
		        
		         店家等級(0:初始-餐點功能, 1:高級-加採購庫存功能): 
		        <input type="text" name="storeLv" value=""><br>
		        
		        開通時間: 
		        <input type="Date" name="createDate"> ~ <input type="Date" name="createDate">
		  
		         付費日期: 
		        <input type="Date" name="payDate"> ~ <input type="Date" name="payDate">
		          
		        平台開店: 
		          <label for="pushUpAll"><input id="pushUpAll" type="radio" name="pushUp" value="">全部</label> 
		        <label for="pushUp0"><input id=pushUp0 type="radio" name="pushUp" value="0">準備中</label> 
		       <label for="pushUp1"><input id="pushUp1" type="radio" name="pushUp" value="1">開店</label> 
		       <label for="pushUp2"><input id="pushUp2" type="radio" name="pushUp" value="2">店休</label><br>
		
		  		<hr>		  
		        店家負責人
		        <input type="text" name="ownerName" value="">		        
		       負責人手機號碼:
		        <input type="text" name="ownerMob" value="">
		        身分證
		        <input type="text" name="ownerId" value=""><br>      
		        負責人地址
		        <input type="text" name="ownerAddress" value="">	        
		        EMAIL
		        <input type="text" name="ownerEmail" value="">
	  
		        <input type="submit" value="送出">
		     
		     </form>
		  </li>
		</ul>	
</nav>	
      <h4><span>店家管理</span></h4>
	
	<table id="example" class="display" style="width: 100%">
	  <thead >
		<tr style="background-color:#CCCCFF">
			<th>項次</th>
			<th>id</th>
			<th>帳號</th>
			<th>店家名稱</th>
			<th>統一編號</th>
			<th>店家電話</th>
			<th>店家狀態</th>
			<th>付費日期</th>
			<th>營業狀態</th>
			<th>負責人</th>
			<th>手機號碼</th>
			<th>EMAIL</th>	
			<th>明細/修改</th>
			
		</tr>
	  </thead>
		
	  <tbody>
			<th:block th:each="storesVO : ${storesListData}">
				<tr>
					<td th:text="${storesVOStat.count}">項次</td>
					<td th:text="${storesVO.storeId}">店家流水號</td>
					<td th:text="${storesVO.storeAccount}">店家帳號</td>
					<td th:text="${storesVO.storeName}">店家名稱</td>
					<td th:text="${storesVO.storeGui}">店家統一編號</td>
					<td th:text="${storesVO.storePhone}">店家電話</td>
					<td th:text="${storesVO.storeState}">店家狀態</td>
					<td th:text="${storesVO.payDate}">付費日期</td>
					<td th:text="${storesVO.pushUp}">營業狀態</td>
					<td th:text="${storesVO.ownerName}">店家負責人</td>
					<td th:text="${storesVO.ownerMob}">負責人手機號碼</td>
					<td th:text="${storesVO.ownerEmail}">EMAIL</td>
					<td>	
						<form method="post" th:action="@{/pFunction/stores/getOne_For_Update}" style="margin-bottom: 0px;">
						     <input type="submit" value="修改">
						     <input type="hidden" name="storeId" th:value="${storesVO.storeId}">
				    	 </form>		
<!-- 						<button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#exampleModal_'+${storesVO.storeId}"> -->
<!-- 					 	<a>明細</a> -->
<!-- 						</button> -->
								
								<!--Modal -->
									<div class="modal fade" th:id="'exampleModal_'+${storesVO.storeId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									  <div class="modal-dialog">
									  <form method="post" th:object="${storesVO}" enctype="multipart/form-data" th:action="@{updateStore}">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">店家明細</h5>
									        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									      </div>
									      <div class="modal-body">
<!-- 														<dl> -->
<!-- 															<dt>店家流水號 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span  th:text="${storesVO.storeId}"></span>    --> -->
<!--   									      							<input  class="openEdit" type="text" th:field="*{storeId}" readonly/>   -->
<!-- 																</dd> -->
															
<!-- 															<dt>店家帳號 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeAccount}"></span>   --> -->
<!-- 	  									      						<input class="openEdit" ype="text" th:field="*{storeAccount}" readonly/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家名稱 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeName}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{storeName}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家統一編號 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeGui}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{storeGui}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家地址 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeAddress}"></span>   --> -->
<!--   									      							<input  class="openEdit" type="text" th:field="*{storeAddress}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家電話 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storePhone}"></span>   --> -->
<!--   									      							<input  class="openEdit" type="text" th:field="*{storePhone}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家狀態 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeState}"></span>   --> -->
<!--   									      							<input  class="openEdit" type="text" th:field="*{storeState}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家等級 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeLv}"></span>   --> -->
<!--   									      							<input  class="openEdit" type="text" th:field="*{storeLv}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>開通時間 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.createDate}"></span>   --> -->
<!--   									      							<input  class="openEdit" type="text" th:field="*{createDate}" readonly/>   -->
<!-- 																</dd> -->
<!-- 															<dt>付費日期 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.payDate}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="date" th:field="*{payDate}" onclick="hideContent('payDate.errors');" /><br/>   -->
<!-- 	  																<span  th:if="${#fields.hasErrors('payDate')}" th:errors="*{payDate}" class="error" id="payDate.errors"></span>   -->
<!-- 																</dd> -->
<!-- 															<dt>平台開店 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.pushUp}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{pushUp}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家負責人 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.ownerName}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{ownerName}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>負責人手機號碼 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.ownerMob}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{ownerMob}"/> -- -->
<!-- 																</dd> -->
<!-- 															<dt>身分證 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.ownerId}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{ownerId}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>負責人地址 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.ownerAddress}"></span>   --> -->
<!-- 	  									      						<input  class="openEdit" type="text" th:field="*{ownerAddress}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>EMAIL </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.ownerEmail}"></span>   --> -->
<!-- 	  									      						<input class="openEdit" type="text" th:field="*{ownerEmail}"/>   -->
<!-- 																</dd> -->
															
<!-- 															<dt>評分人數< </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.scorePeople}"></span>   --> -->
<!-- 	  									      						<input class="openEdit" type="text" th:field="*{scorePeople}" />   -->
<!-- 																</dd> -->
<!-- 															<dt>總評分 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.totalScore}"></span>   --> -->
<!-- 	  									      						<input class="openEdit" id="totalScore" type="text" th:field="*{totalScore}"/>   -->
<!-- 																</dd> -->
<!-- 															<dt>平均評分 </dt> -->
<!-- 																<dd> -->
<!-- 																	<span th:text="(${storesVO.totalScore})/(${storesVO.scorePeople})"></span>   -->
<!-- 																</dd> -->
<!-- 															<dt>營業時段 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.openTime}"></span>   --> -->
<!-- 	  									      						<input class="openEdit"  type="text" th:field="*{openTime}" readonly/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店休日 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.restDay}" ></span>   --> -->
<!-- <!-- 	  									      						<span><span class="restDay" th:text="${storesVO.restDay}"></span><span class="restDayRead"></span>   --> -->
<!-- <!-- 					  										      			<input class="op0" type="checkbox" type="text" th:id="${storesVO.storeId}+'_0'">   --> -->
<!-- <!-- 					  										      			<input class="op1"  type="checkbox" type="text" th:id="${storesVO.storeId}+'_1'">   --> -->
<!-- <!-- 															      			<input class="op2"  type="checkbox" type="text" th:id="${storesVO.storeId}+'_2'">   --> -->
<!-- <!-- 					 										      			<input class="op3"  type="checkbox" type="text" th:id="${storesVO.storeId}+'_3'">   --> -->
<!-- <!-- 					 										      			<input class="op4"  type="checkbox" type="text" th:id="${storesVO.storeId}+'_4'">   --> -->
<!-- <!-- 					 										      			<input class="op5"  type="checkbox" type="text" th:id="${storesVO.storeId}+'_5'">   --> -->
<!-- <!-- 					 										      			<input class="op6"  type="checkbox" type="text" th:id="${storesVO.storeId}+'_6'">   --> -->
<!-- <!-- 	 									      						</span>   --> -->
<!-- 	 									      						<input class="openEdit"  type="text" th:field="*{restDay}" readonly/>   -->
<!-- 																</dd> -->
<!-- 															<dt>店家照片 </dt> -->
<!-- 																<dd> -->
<!-- 																	<span id="blob_holder"><img th:src="@{/file/DBGifReader} + '?storeId=' + ${storesVO.storeId}" width="100px"></span>   -->
<!--  									      							<span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span>   -->
<!-- 									      							<input class="openEdit"  type="file" th:field="*{photo}" onclick="previewImage()" multiple="multiple" />   -->
<!-- 																</dd> -->
																
<!-- 															<dt>店家簡介 </dt> -->
<!-- 																<dd> -->
<!-- <!-- 																	<span th:text="${storesVO.storeDesc}"></span>  --> -->
<!-- 													      			<input class="openEdit"  type="text" th:field="*{storeDesc}"/> -->
<!-- 																</dd> -->
<!-- 														</dl> -->
<!-- 														<input type="text" th:field="*{storePw}" readonly/>  -->
<!-- 														<input type="text" th:field="*{storeLat}" readonly/> -->
<!-- 														<input type="text" th:field="*{storeLag}" readonly/>	 -->
									      </div>
									      <div class="modal-footer">
									        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
									        <button type="submit" class="btn btn-primary">確認</button>
									      </div>
									    </div>
									    </form>
									  </div>
									</div>

					</td>
				</tr>
			</th:block>
	  </tbody>
	</table>
	
    </div>
    </div>
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    
        <!-- Helpers -->
    <script th:src="@{/backhome/js/helpers.js}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/backhome/js/config.js}"></script>
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/backhome/libs/jquery/jquery.js}"></script>
    <script th:src="@{/backhome/libs/popper/popper.js}"></script>
    <script th:src="@{/backhome/js/bootstrap.js}"></script>
    <script th:src="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/backhome/js/menu.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/backhome/js/main.js}"></script>

    <!-- Page JS -->

    <script th:src="@{/backhome/js/form-basic-inputs.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
	<script>
	function hideContent(d) {
	     document.getElementById(d).style.display = "none";
	}

	//照片上傳-預覽用
	var filereader_support = typeof FileReader != 'undefined';
	if (!filereader_support) {
		alert("No FileReader support");
	}
	acceptedTypes = {
			'image/png' : true,
			'image/jpeg' : true,
			'image/gif' : true
	};
	function previewImage() {
		var upfile1 = document.getElementById("upFiles");
		upfile1.addEventListener("change", function(event) {
			var files = event.target.files || event.dataTransfer.files;
			for (var i = 0; i < files.length; i++) {
				previewfile(files[i])
			}
		}, false);
	}
	function previewfile(file) {
		if (filereader_support === true && acceptedTypes[file.type] === true) {
			var reader = new FileReader();
			reader.onload = function(event) {
				var image = new Image();
				image.src = event.target.result;
				image.width = 100;
				image.height = 75;
				image.border = 2;
				if (blob_holder.hasChildNodes()) {
					blob_holder.removeChild(blob_holder.childNodes[0]);
				}
				blob_holder.appendChild(image);
			};
			reader.readAsDataURL(file);
			document.getElementById('submit').disabled = false;
		} else {
			blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
					+ "<br>" + "● ContentTyp: " + file.type
					+ "<br>" + "● size: " + file.size + "bytes"
					+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
			document.getElementById('submit').disabled = true;
		}
	}
	</script>
	<script>
        $(document).ready(function () {
        	$("span.restDay").each(function () {
        		$("span.restDay").hide();
                var number = $(this).text().trim();
                var result = convertToText(number);
                $(this).next().text(result);
            });
        	
        });

        function convertToText(number) {
            var numberStr = number.toString().split('').reverse().join('');
            var result = '';

            for (var i = 0; i < numberStr.length; i++) {
                var dayState = parseInt(numberStr.charAt(i));
                if(dayState===0){
                	switch(i){
                		case(0):
                			 var day="星期一,";
								$(this).closest("span").find("input.op0").css("ckecked");
								console.log(this);
                			 continue;
                		case(1):
                   			 var day="星期二,";

                			continue;
                		case(2):
                   			 var day="星期三,";

                			continue;
                		case(3):
                   			 var day="星期四,";
                			continue;
                		case(4):
                   			 var day="星期五,";
                			continue;
                		case(5):
                   			 var day="星期六,";
                			continue;
                		case(6):
                   			 var day="星期日";
                		$(this).closest("span").find("input.op6").css("ckecked");
                			continue;
                		case(7):
                  			 var day="";
               			continue;
                		}             	
                }else{
                	var day="";
                }
                
                result += day;
                if (i < numberStr.length - 1) {
                    result += ' ';
                }
            }
            return result;
        }
        
        
        function prechecked(number){
        	
        }
    </script>
</body>
</html>