<!DOCTYPE html>
<html lang="en"
class="light-style layout-menu-fixed"
dir="ltr"
data-theme="theme-default"
data-template="vertical-menu-template-free"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>平台後台-首頁</title>
    <meta name="description" content="" />

    <!-- Freicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/backhome/img/freshlogo.png}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/backhome/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/backhome/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.css}" />

<style type="text/css">
	
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
    

</style>
<style>
   body input.notEdit{
     background-color:gray ;
     border:none;
    }
</style>
</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a th:href="@{index}" class="app-brand-link">
              <img class="img-fluid" width="160" th:src="@{/backhome/img/freshlogo1.png}" alt="Icon">            
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a th:href="@{index}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">鮮城後台首頁</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Client</span>
            </li>
            
            <li class="menu-item">

                 <a th:href="@{/pFunction/customer/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">一般會員管理</div>
                 </a>
            </li>
            <!-- Store -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Store</span></li>
              
              <li class="menu-item"> 
                <a th:href="@{/pFunction/orders/select_page}" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="store">查看訂單總表</div>
                 </a>
                 <ul class="menu-sub">
                  <li class="menu-item">
                    <a th:href="@{/pFunction/atm/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="store">匯款管理</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a th:href="@{/pFunction/refunds/select_page}" class="menu-link">
                    <i class="menu-icon"></i>
                    <div data-i18n="client">退款作業</div>
                   </a>
                  </li>
                 </ul>
               </li>
               <li class="menu-item">
                 <a th:href="@{/pFunction/stores/select_page}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="store">店家會員管理</div>
                 </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-dock-top"></i>
                    <div data-i18n="store">店家帳號審核</div>
                 </a>
                </li>

              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-question-mark"></i>
                <div data-i18n="question-mark">忘記密碼</div>
              </a>

              <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div data-i18n="Exit">店家登入</div>
              </a> -->
            
            <!-- Fresh Town -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Fresh Town</span></li>

            <li class="menu-item">
              <a th:href="@{/pFunction/platformEmp/select_page}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Account Settings">員工帳號管理</div>
              </a>
              <!-- <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Authentications">設定權限</div>
              </a> -->
              <a href="#" class="menu-link">
              <i class="menu-icon tf-icons bx bx-support"></i>
              <div data-i18n="Support">諮詢線上客服</div>
            </a>
            <a th:href="@{/pFunction/logoutP}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-exit"></i>
              <div data-i18n="Exit">登出</div>
            </a>
            </li>
          </ul>
        </aside>
        
                        <!-- Layout container -->
        <div class="layout-page">
         <!-- Content wrapper -->
          <div class="content-wrapper">
                        <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">

<div align="center" th:fragment="updatestore-div"> 
	<div align="center">
		<h3><b>店家資料修改</b></h3>
		<form th:action="@{update}" method="post" th:object="${storesVO}" enctype="multipart/form-data">

				<div>
				<label>店家流水號:</label>
				<input calss="notEdit" type="text" th:field="*{storeId}" style="background-color:lightgray" readonly/>
				<span  th:if="${#fields.hasErrors('storeId')}" th:errors="*{storeId}" class="error" id="storeId.errors"></span>
			
				</div>
				
				<div>
				<label>店家帳號:</label>
				<input calss="notEdit" type="text" th:field="*{storeAccount}" style="background-color:lightgray" readonly/>
				<span  th:if="${#fields.hasErrors('storeAccount')}" th:errors="*{storeAccount}" class="error" id="storeAccount.errors"></span>
			
				</div>
				<div>
				<label>店家名稱:</label>
				<input type="text" th:field="*{storeName}"/>
				<span  th:if="${#fields.hasErrors('storeName')}" th:errors="*{storeName}" class="error" id="storeName.errors"></span>
			
				</div>
				<div>
				<label>店家統一編號:</label>
				<input type="text" th:field="*{storeGui}"/>
				<span  th:if="${#fields.hasErrors('storeGui')}" th:errors="*{storeGui}" class="error" id="storeGui.errors"></span>
			
				</div>
				<div>
				<label>店家地址:</label>
				<input type="text" th:field="*{storeAddress}"/>
				<span  th:if="${#fields.hasErrors('storeAddress')}" th:errors="*{storeAddress}" class="error" id="storeAddress.errors"></span>
			
				</div>
				<div>
				<label>店家電話:</label>
				<input type="text" th:field="*{storePhone}"/>
				<span  th:if="${#fields.hasErrors('storePhone')}" th:errors="*{storePhone}" class="error" id="storePhone.errors"></span>
			
				</div>
				<div>
				<label>店家狀態:</label>
				<input type="text" th:field="*{storeState}"/>
				<span  th:if="${#fields.hasErrors('storeState')}" th:errors="*{storeState}" class="error" id="storeState.errors"></span>
			
				</div>
				<div>
				<label>店家等級:</label>
				<input type="text" th:field="*{storeLv}"/>
				<span  th:if="${#fields.hasErrors('storeLv')}" th:errors="*{storeLv}" class="error" id="storeLv.errors"></span>
			
				</div>
				<div>
				<label>開通時間:</label>
				<input calss="notEdit" type="text" th:field="*{createDate}"  style="background-color:lightgray" readonly/>
				<span  th:if="${#fields.hasErrors('createDate')}" th:errors="*{createDate}" class="error" id="createDate.errors"></span>
			
				</div>
					
			<div>
			<label>付費日期:</label>
			<input type="date" th:field="*{payDate}" onclick="hideContent('payDate.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('payDate')}" th:errors="*{payDate}" class="error" id="payDate.errors"></span>
			</div>
		
				<div>
				<label>平台開店:</label>
				<input type="text" th:field="*{pushUp}"/>
				<span  th:if="${#fields.hasErrors('pushUp')}" th:errors="*{pushUp}" class="error" id="pushUp.errors"></span>
			
				</div>
				<div>
				<label>店家負責人:</label>
				<input type="text" th:field="*{ownerName}"/>
				<span  th:if="${#fields.hasErrors('ownerName')}" th:errors="*{ownerName}" class="error" id="ownerName.errors"></span>
			
				</div>
				<div>
				<label>負責人手機號碼:</label>
				<input type="text" th:field="*{ownerMob}"/>
				<span  th:if="${#fields.hasErrors('ownerMob')}" th:errors="*{ownerMob}" class="error" id="ownerMob.errors"></span>
			
				</div>
				<div>
				<label>身分證:</label>
				<input type="text" th:field="*{ownerId}"/>
				<span  th:if="${#fields.hasErrors('ownerId')}" th:errors="*{ownerId}" class="error" id="ownerId.errors"></span>
			
				</div>
				<div>
				<label>負責人地址:</label>
				<input type="text" th:field="*{ownerAddress}"/>
				<span  th:if="${#fields.hasErrors('ownerAddress')}" th:errors="*{ownerAddress}" class="error" id="ownerAddress.errors"></span>
			
				</div>
				<div>
				<label>EMAIL:</label>
				<input type="text" th:field="*{ownerEmail}"/>
				<span  th:if="${#fields.hasErrors('ownerEmail')}" th:errors="*{ownerEmail}" class="error" id="ownerEmail.errors"></span>
			
				</div>
				
				<div>
				<label>評分:</label>
				<input calss="notEdit" type="text" th:field="*{totalScore}"  style="background-color:lightgray" readonly/>
				<span  th:if="${#fields.hasErrors('totalScore')}" th:errors="*{totalScore}" class="error" id="totalScore.errors"></span>
			
				</div>
				
				<div>
				<label>評分人數:</label>
				<input calss="notEdit" type="text" th:field="*{scorePeople}"  style="background-color:lightgray" readonly/>
				<span  th:if="${#fields.hasErrors('scorePeople')}" th:errors="*{scorePeople}" class="error" id="scorePeople.errors"></span>
			
				</div>
							
			<div>
			<label>照片:</label>
			<div id="blob_holder"><img th:src="@{/stores/DBGifReader} + '?storeId=' + ${storesVO.storeId}" width="100px"></div>
			<input type="file" th:field="*{photo}" onclick="previewImage()" multiple="multiple" />
            <!-- 可以不修改圖片 <span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
			</div>

				<div>
				<label>店家簡介:</label>
				<textarea type="text" th:field="*{storeDesc}"/>
				<span  th:if="${#fields.hasErrors('storeDesc')}" th:errors="*{storeDesc}" class="error" id="storeDesc.errors"></span>
			
				</div>
			
			<div>
			<input calss="notEdit" type="hidden" th:field="*{storePw}" readonly/>
			<input calss="notEdit" type="hidden" th:field="*{storeLat}" readonly/>
			<input calss="notEdit" type="hidden" th:field="*{storeLag}" readonly/>
			<input calss="notEdit" type="hidden" th:field="*{openTime}" readonly/>
			<input calss="notEdit" type="hidden" th:field="*{restDay}" readonly/>
			</div>
			
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出修改 </button></div>
				<div></div>
			</div>		
		</form>
	
	</div>
</div>

	
    </div>
    </div>
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    
        <!-- Helpers -->
    <script th:src="@{/backhome/js/helpers.js}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/backhome/js/config.js}"></script>
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/backhome/libs/jquery/jquery.js}"></script>
    <script th:src="@{/backhome/libs/popper/popper.js}"></script>
    <script th:src="@{/backhome/js/bootstrap.js}"></script>
    <script th:src="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

    <script th:src="@{/backhome/js/menu.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/backhome/js/main.js}"></script>

    <!-- Page JS -->

    <script th:src="@{/backhome/js/form-basic-inputs.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
	alert("No FileReader support");
}
acceptedTypes = {
		'image/png' : true,
		'image/jpeg' : true,
		'image/gif' : true
};
function previewImage() {
	var upfile1 = document.getElementById("upFiles");
	upfile1.addEventListener("change", function(event) {
		var files = event.target.files || event.dataTransfer.files;
		for (var i = 0; i < files.length; i++) {
			previewfile(files[i])
		}
	}, false);
}
function previewfile(file) {
	if (filereader_support === true && acceptedTypes[file.type] === true) {
		var reader = new FileReader();
		reader.onload = function(event) {
			var image = new Image();
			image.src = event.target.result;
			image.width = 100;
			image.height = 75;
			image.border = 2;
			if (blob_holder.hasChildNodes()) {
				blob_holder.removeChild(blob_holder.childNodes[0]);
			}
			blob_holder.appendChild(image);
		};
		reader.readAsDataURL(file);
		document.getElementById('submit').disabled = false;
	} else {
		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
				+ "<br>" + "● ContentTyp: " + file.type
				+ "<br>" + "● size: " + file.size + "bytes"
				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		document.getElementById('submit').disabled = true;
	}
}
</script>

</body>
</html>