



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>index.html - Spring Boot - Maven - Spring MVC - Thymeleaf Demo</title>
</head>
<body>
INDEX
	<h3><a th:href="@{/pFunction/refunds/select_page}" >GO TO REFUNDS</a></h3>
	<h3><a th:href="@{/pFunction/mealtype/select_page}" >GO TO MealType</a></h3>
	<h3><a th:href="@{/pFunction/orders/select_page}" >GO TO orders</a></h3>
	<h3><a th:href="@{/pFunction/stores/select_page}" >GO TO stores</a></h3>
	<hr>
	<h3><a th:href="@{/cFunction/stores/addStoresC}" >add stores</a></h3>
	<h3><a th:href="@{/login}" >login</a></h3>
</body>
</html>