



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>index.html - Spring Boot - Maven - Spring MVC - Thymeleaf Demo</title>
</head>
<body>
INDEX

	<h3><a th:href="@{/sFunction/material/select_page}" >GO TO material</a></h3>
	<h3><a th:href="@{/sFunction/picking/select_page}" >GO TO picking</a></h3>
	<h3><a th:href="@{/sFunction/itemsclass/select_page}" >GO TO itemsclass</a></h3>
	<h3><a th:href="@{/sFunction/service/select_page}" >GO TO service</a></h3>

	<h3><a th:href="@{/pFunction/refunds/select_page}" >GO TO REFUNDS</a></h3>
	<h3><a th:href="@{/pFunction/mealtype/select_page}" >GO TO MealType</a></h3>
	<h3><a th:href="@{/pFunction/orders/select_page}" >GO TO p-orders</a></h3>
		<h3><a th:href="@{/sFunction/orders/select_page}" >GO TO s-orders</a></h3>
	<h3><a th:href="@{/pFunction/stores/select_page}" >GO TO stores</a></h3>
	<h3><a th:href="@{/pFunction/supplier/supplierMain}" >TEST</a></h3>
	<hr>

	<h3><a th:href="@{/cFunction/stores/addStoresC}" >add C-stores</a></h3>
	<h3><a th:href="@{/login}" >loginP</a></h3>
	<h3><a th:href="@{/cFunction/likestore}" >GO TO likestore</a></h3>
	<h3><a th:href="@{/cEntranceStores}" >GO TO cEntrance</a></h3>

	
	<hr>
	<h3><a th:href="@{/sFunction/customizeddetail/select_page}" >GO TO CustomizedDetail</a></h3>

</body>
</html>