<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index - 鮮城 FreshTown</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

	<style type="text/css"></style>

</head>

<body class="body">
    <nav class="nav ">
        <div  class="nav ">
            <a class="logo title " href="#!">鮮城 FreshTown</a>
            <button class="phone-btn">行動版導覽按鈕</button>
            <ul class="nav">
                <li class="nav_item "><a class="title" href="#!">店家管理</a></li>
                <li class="nav_item "><a class="title" href="#!">匯款作業</a></li>
<!--                 <li class="nav_item "><a class="title" th:href="@{/refunds/refundPage}">退款作業</a></li> -->
                <li class="nav_item "><a class="title" href="#!">顧客管理</a></li>
                <li class="nav_item "><a class="title" href="#!">廣告管理</a></li>
                <li class="nav_item "><a class="title" href="#!">線上客服</a></li>
            </ul>
                    
            <form class="search_block"  action="">
                <label for="search_store">搜尋 </label>
                <!-- <input class="search_store" type="text"> -->
                
            </form>

            
            <!-- 帳號登出 -->
            <form class="buy_car">
                <button class="buy_car" type="submit">
                    平台帳號登出
                </button>
            </form>
           

        </div>
        <div class="nav_footer"></div>
        
    </nav>

    
    <section class="section">
       <div ><a th:href="@{/haveToLogin/pFunction/refundPage.html}">導向1</a></div>
       <div ><a th:href="@{/haveToLogin/xxx.html}">導向xxx</a></div>
    </section>

    <main></main>

    <footer class="footer">
        <div><p class="footer">鮮城 &copy; Your Website 2023</p></div>
    </footer>

   <!--載入線上版jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- 	<script th:src="@{/static/js/allBase.js}"/> -->
	
</body>
</html>