<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>action success</title>
</head>
<body>

<!-- 	店家註冊 -->
	<select th:if="${addStoresApply}">
		<h1>註冊申請已送出</h1>
		<h1>歡迎您的加入</h1>
		<h2>請稍待審核人員通知結果</h2>	
		<h2>謝謝</h2>	
		<h2><a th:href="@{cEntrance}">返回</a></h2>
	</select>
	
<!-- 	顧客註冊 -->
	<select th:if="${addCustomerApply}">
		<h1>已完成註冊</h1>
		<h1>歡迎您的加入</h1>
		<h2><a th:href="@{cFunction/cEntrancePass}">立即前往收尋美食</a></h2>
			
	</select>
	
	
	
</body>
</html>