*{ box-sizing: border-box;}
img{ max-width:100%;}

html.html{ font-size: 10px;}

body{  
    margin: 0;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.phone-btn{
    display: none;
}


/* 響應式設定========================== */
@media (max-width:767.98 ){

}

/* 區塊內布局=========================== */
.-none{  display: none;}

.center_side{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}


/* 顏色區============================== */
:root{
    --m-color: orange;
    --m-white: white;
    --btn-on-color:#d3d3d4;
    --btn-close-color:#636464;
    --alert-text-color: #636464;
    --alert-bg-color: #fefefe;

}

/* 字體區============================== */
.title{
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;

}

/*======= nav ========*/
nav.nav{
    height:70px;
    width:100%;

}

div.nav{
    background: var(--alert-bg-color);   
    height:50px;
    width:100%;
    top:0;
    position: fixed;
    position: 0;
    z-index: 10;

}

div.nav_footer{
    background-color: var(--m-color);
    height: 20px;
    width:100%;
    z-index: 30;
    margin-top: 50px;
    font-size: 5rem;
    position: fixed;
}


div.nav>a.logo {
    display: inline-block;
    height: 100%;
    padding: 10px;
    
}

ul.nav{
    display: inline-block;
    height: 100%;
    /* width: calc(100% - 100px ); */
    margin: 0;
    padding: 0;
    vertical-align: top;
}

@media (max-width:767.98px ){
    ul.nav{
        position: absolute;
        display: block;
        border: 1px solid red;
        background-color: lightgoldenrodyellow;
        width: 165px;
        height: 150px;
    
    }
    ul.nav.-move{
        left:-165px;
    }
    

    .phone-btn{
        display:inline-block;
    }
}


li.nav_item{
    display: inline-block;
    margin: 5px 5px;
    width: calc(100%/8) !important;
    height: 100%;
    /* border: 1px solid red; */
    text-align: center;

}

@media (max-width:767.98px ){
    
    li.nav_item{
        display: block;
        margin: 5px 5px;
        width: 150px;
        height: 30px;
        /* border: 1px solid red; */
        text-align: center;
        background-color: green;

    }

}


li.nav_item>a{
    display: inline-block;
    padding:10px ;
    height: 100%;
    font-size: 1.5rem;
    font-display:swap;
    font-weight: 400;
    
}

ul.dropdown_menu{
    
    position: absolute;
    list-style: none;
    margin: 0;
    width: 150px;
    padding: 5px 0;
    border: 1px solid;
    background-color: var(--m-white);
    border-color: var(--alert-text-color);

}

hr.dropdown_divider{
    border: 1px dashed var(--alert-text-color);
}

form.buy_car{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
} 

button.buy_car{
    width: 100px;
    height: 30px;
    background-color: #fff;
    border-radius: 0.5rem;
}
img.cart{
    /* border:1px solid red; */
    height: 20px;
    vertical-align: middle;
}



form.search_block{
    display: inline-block;
    font-size: 1.7rem;
    
}
@media (max-width:767.98px ){
    form.search_block{
        /* display: none; */
        font-size: 1.7rem;
        
    }
    
    input.search_store{
        display: none;
    }
}

div.store_detail_class{
    position: absolute;
    border: 1px solid var(--btn-close-color);
    right: 10%;
    background-color: white;
    border-radius: 0.3rem;

    /* display: none; */
}



/*=========== header ======================*/

/* header.header{
    display: block;
    background-color: var(--m-color);
    height: 180px;
    text-align: center;
}

h1.header{
    font-size: 4rem ;
    color: var(--m-white);
    padding-top:30px ;
    margin: 0;
}

p.header{
    font-size: 2.5rem ;
    margin: 2rem 0;
} */


/*===============section=============*/


/*=========  footer ===============*/
footer.footer{
    position: relative;
    background-color: var(--m-color);
    height: 20px;
    text-align: center;
}

p.footer{
    font-size: 1.5rem;
    color: var(--m-white);
}





















.-none{
    display: none !important;
}

