<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Homepage - 鮮城 FreshTown</title>
    <link rel="stylesheet" href="./css/allBase.css">
</head>
<body class="body">
    <nav class="nav ">
        <div  class="nav ">
            <a class="logo title " href="#!">鮮城 FreshTown</a>
            <button class="phone-btn">行動版導覽按鈕</button>
            <ul class="nav">
                <li class="nav_item "><a class="title" href="#!">餐點分類</a></li>
                <li class="nav_item "><a class="title" href="#!">地圖搜尋</a></li>
                <li class="nav_item ">
                    <a class="nav_link title" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">註冊專區</a>
                    <ul class="dropdown_menu -none">
                        <li><a class="dropdown_item title" href="#!">訂餐會員註冊</a></li>
                        <li><hr class="dropdown_divider" /></li>
                        <li><a class="dropdown_item title" href="#!">合作店家申請</a></li>
                    </ul>
                </li>
                <li class="nav_item "><a class="title" href="#!">會員登入</a></li>
            </ul>
                    
            <!--購物車-->
            <form class="buy_car">
                <button class="buy_car" type="submit">
                    <img></img>
                    Cart
                    <!--購物車數量-->
                    <span>0</span>
                </button>
            </form>
            <div class="nav_footer"></div>

        </div>
        
    </nav>

    <header class="header">
        <div class="header">
            <h1 class="header ">美食饗宴  盡在鮮城</h1>
            <p class="header">最公正的餐廳推薦平台，立即加入會員訂餐吧!</p>
        </div>
  
    </header>

    <section class="section">
        <div class="section">
            <!-- 店家1-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家2-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家3-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家4-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家5-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家6-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家7-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家8-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家9-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>
            <!-- 店家10-->
            <div class="section_item">
                <div class="card">
                    <!-- 圖片-->
                    <img class="card_img_top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- 資訊-->
                    <div class="card_body">
                        <!--固定資訊-->
                        <div class="card_info">
                            <h3>店家A</h3>
                            <h4>$40.00 - $80.00</h4>
                            <!-- 評等-->
                            <div class="star_area">
                                <div class="star">1</div>
                                <div class="star">2</div>
                                <div class="star">3</div>
                                <div class="star">4</div>
                                <div class="star">5</div>
                            </div>
                            <p>地址xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        
                    </div>

                </div>
                <!-- 控制項-->
                <div class="card_footer title">
                    <div class="entrance"><a href="#">進店家看菜單</a></div>
                </div>
            </div>         
            
        </div>
    </section>

    <main></main>

    <footer class="footer">
        <div><p class="footer">鮮城 &copy; Your Website 2023</p></div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>