<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Homepage - 鮮城 FreshTown</title>
    <link rel="stylesheet" th:href="@{/css/cEntrance.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlHoUB7fxl9z1I7kF7dJ1lFqIiiPmM1I2j9c5n9d" crossorigin="anonymous">
</head>
<body class="body">

    <header class="header" th:fragment="searchStore-div">
        <div class="header">
            <h1 class="header ">美食饗宴  盡在鮮城</h1>
            <p class="header">最公正的餐廳推薦平台，立即加入會員訂餐吧!</p>
  
        </div>
  
    </header>

    <section class="section" th:fragment="searchStore-div">
        <div class="section">
            <!-- 店家-->
            <th:block th:each="storesVO : ${storesListData}">
	            <div class="section_item">
	                <div class="card">
	                    <!-- 圖片-->
<!-- 	                    <img th:src="@{/stores/DBGifReader} + '?storesId=' + ${storesVO.storesId}" width="100px"> -->
	                    <!-- 資訊-->
	                    <div class="card_body">
	                        <!--固定資訊-->
	                        <div class="card_info">
	                            <h3 th:text="${storesVO.storeName}">店家名稱</h3>
								<!-- 評等-->
		                            <p>評等:<span th:text="${storesVO.totalScore/(storesVO.scorePeople!=null&&storesVO.scorePeople!=0?storesVO.scorePeople:1)}"></span>星</p>
                        <p th:text="${storesVO.storeAddress}">店家地址</p>
                        <div><span th:text="${storesVO.pushUp}">營業中</span>營業時間:<span th:text="${storesVO.openTime}"></span></div>
                        <p >店休:<span class="restDay" th:text="${storesVO.restDay}"></span><span class="restDayRead"></span></p>
						<p th:text="${storesVO.storeAddress}">店家地址</p>
	                        </div>
	                        
	                    </div>
	
	                </div>
	                <!-- 控制項-->
	                <div class="card_footer title">
	                    <form id="entrance" method="get" th:action="@{getOneStoreMeal}" > 
		 				     <input id="entrance" type="submit" value="看菜單"> 
						     <input type="hidden" name="storeId" th:value="${storesVO.storeId}">
					     </form>		
	                </div>
	                
	            </div>
           </th:block>
        </div>
    </section>

    <main></main>
 <footer class="footer">
        <div><p class="footer">鮮城 &copy; Your Website 2023</p></div>
        <p><a th:href="@{/sFunction}">後台入口</a></p>
    </footer>
	<script th:src="@{/js/allBase.js}"></script>
	<script th:src="@{/js/mealMenu.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
        $(document).ready(function () {
        	$("span.restDay").each(function () {
        		$("span.restDay").hide();
                var number = $(this).text().trim();
                var result = convertToText(number);
                $(this).next().text(result);

            });
        	
        });

        function convertToText(number) {
            var numberStr = number.toString().split('').reverse().join('');
            var result = '';

            for (var i = 0; i < numberStr.length; i++) {
                var dayState = parseInt(numberStr.charAt(i));
                if(dayState===0){
                	switch(i){
                		case(0):
                			 var day="星期一,";
                			result += day;
                			 continue;
                		case(1):
                   			 var day="星期二,";
                		result += day;
                			continue;
                		case(2):
                   			 var day="星期三,";
                		result += day;
                			continue;
                		case(3):
                   			 var day="星期四,";
                			continue;
                		case(4):
                   			 var day="星期五,";
                			continue;
                		case(5):
                   			 var day="星期六,";
                			continue;
                		case(6):
                   			 var day="星期日";
                		result += day;
                			continue;
                		case(7):
                  			 var day="";
               			continue;
                		}             	
                }else{
                	var day="";
                }
                
                result += day;
                if (i < numberStr.length - 1) {
                    result += ' ';
                }
            }
            return result;
        }
    </script>
    <script>
        $(document).ready(function () {
        	$("span.openState").each(function () {
        		$("span.openState").hide();
                var number2 = $(this).text().trim();
                var result2 = convertToText2(number2);
                $(this).next().text(result2);

            });
        	
        });

        function convertToText2(number2) {
            var result2 = '';

                	switch(number2){
                		case "0":
                			result2="準備中";
                			break;
                		case "1":
                			result2="開店";
                   			break;
                		case(2):
                			result2="店休";
                			break;
                		}             	
                	return result2;
            }
            
        
    </script>
</body>
</html>