<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Homepage - 鮮城 FreshTown</title>
    <link rel="stylesheet" th:href="@{/css/cEntrance.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlHoUB7fxl9z1I7kF7dJ1lFqIiiPmM1I2j9c5n9d" crossorigin="anonymous">
</head>
<body class="body">

    <header class="header" th:fragment="searchStore-div">
        <div class="header">
            <h1 class="header ">美食饗宴  盡在鮮城</h1>
            <p class="header">最公正的餐廳推薦平台，立即加入會員訂餐吧!</p>
  
        </div>
  
    </header>

    <section class="section" th:fragment="searchStore-div">
        <div class="section">
            <!-- 店家-->
            <th:block th:each="storesVO : ${storesListData}">
	            <div class="section_item">
	                <div class="card">
	                    <!-- 圖片-->
<!-- 	                    <img th:src="@{/stores/DBGifReader} + '?storesId=' + ${storesVO.storesId}" width="100px"> -->
	                    <!-- 資訊-->
	                    <div class="card_body">
	                        <!--固定資訊-->
	                        <div class="card_info">
	                            <h3 th:text="${storesVO.storeName}">店家名稱</h3>
								<!-- 評等-->
		                            <p>評等:<span th:text="${storesVO.totalScore/(storesVO.scorePeople!=null&&storesVO.scorePeople!=0?storesVO.scorePeople:1)}"></span>星</p>
                        <p th:text="${storesVO.storeAddress}">店家地址</p>
                        <div><span th:text="${storesVO.pushUp}">營業中</span>營業時間:<span th:text="${storesVO.openTime}"></span></div>
                        <p >店休:<span class="restDay" th:text="${storesVO.restDay}"></span><span class="restDayRead"></span></p>
						<p th:text="${storesVO.storeAddress}">店家地址</p>
	                        </div>
	                        
	                    </div>
	
	                </div>
	                <!-- 控制項-->
	                <div class="card_footer title">
	                    <form id="entrance" method="get" th:action="@{getOneStoreMeal}" > 
		 				     <input id="entrance" type="submit" value="看菜單"> 
						     <input type="hidden" name="storeId" th:value="${storesVO.storeId}">
					     </form>		
	                </div>
	                
	            </div>
           </th:block>
        </div>
    </section>

    <main></main>

    <footer class="footer">
        <div><p class="footer">鮮城 &copy; Your Website 2023</p></div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
	
	</script>


</body>
</html>