<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/css/core.css}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/css/theme-default.css}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/css/demo.css}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/js/helpers.js}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/js/config.js}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/css/libs/jquery/jquery.js}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/css/libs/popper/popper.js}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/js/bootstrap.js}"/>
<link rel="stylesheet" th:href="@{/css/shopMaterial/js/main.js}"/>

