<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>物料資料 - listOneMaterial.html</title>
<head th:insert="~{sFunction/material/includedFragment}"></head>
<style type="text/css">
span {
	display: inline-block;
	width: 150px;
	text-align: left;
	font-weight: bold;
}
</style>
</head>
<body>

	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		<div align="center">
			<h2>物料資料 - listOneMaterial.html</h2>
			<h3>
				<a class="navbar-brand" th:href="@{sFunction/material/select_page}"><img
					th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a>
			</h3>
		</div>
	</nav>

	<div align="center" th:fragment="listOneMaterial-div">
		<!-- 此div被select_page.html第128行insert用 -->
		<h3>
			<span>查詢結果 :</span>
		</h3>
		<span>物料編號:</span><span th:text="${materialVO.itemNumber}"></span><br />
		<span>物料名稱:</span><span th:text="${materialVO.itemName}"></span><br />
		<span>物料分類編號:</span><span
			th:text="${materialVO.itemsClass.itemClassId}"></span><br /> <span>庫存數量:</span><span
			th:text="${materialVO.stockQuantity}"></span><br /> <span>未入庫數量:</span><span
			th:text="${materialVO.quantityNot}"></span><br /> <span>物料單位:</span><span
			th:text="${materialVO.itemUnit}"></span><br /> <span>安全庫存線:</span><span
			th:text="${materialVO.safetyStock}"></span><br /> <span>物料狀態:</span><span
			th:text="${materialVO.itemStatus}"></span><br /> <span>採購需求送出日期:</span><span
			th:text="${materialVO.purDate}"></span><br /> <span>店家流水號:</span><span
			th:text="${materialVO.storesVO.storeId}"></span><br />
	</div>
</body>
</html>