<!DOCTYPE html>
<html lang="en"
class="light-style layout-menu-fixed"
dir="ltr"
data-theme="theme-default"
data-template="vertical-menu-template-free"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,  user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>物料管理 - select_page.html</title>
<meta name="description" content="" />

<!-- Freicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/backhome/img/freshlogo.png}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" th:href="@{/backhome/fonts/boxicons.css}" />

    <!-- Core CSS -->
    <link rel="stylesheet" th:href="@{/backhome/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/backhome/css/demo.css}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" th:href="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.css}" />
<!-- 使用included-fragment.html網頁的全部 -->
<!-- <style type="text/css"> -->
<!-- </style> -->

</head>
<style>
    .form-label {
        font-size: 16px;
    }
    
    .col-form-label {
        font-size: 16px;
    }
</style>
<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	          <div class="app-brand demo">
		            <a th:href="@{index}" class="app-brand-link">
		              <img class="img-fluid" width="160" th:src="@{/backhome/img/freshlogo1.png}" alt="Icon">            
		            </a>
		            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
		              <i class="bx bx-chevron-left bx-sm align-middle"></i>
		            </a>
	          </div>

          <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a th:href="@{/sFunction/sEntrancePass}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">店家後台首頁</div>
              </a>
            </li>

            <!-- Inventory & Purchasing -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Inventory&Purchasing</span></li>
              
              <li class="menu-item"> 
		                <a href="#" class="menu-link menu-toggle">
		                   <i class="menu-icon tf-icons bx bx-store"></i>
		                   <div data-i18n="store">採購作業</div>
		                </a>
                <ul class="menu-sub">
                  	<li class="menu-item">
	                    <a th:href="@{/sFunction/suporder/supOrderMain}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="store">管理採購單</div>
	                    </a>
                  	</li>
                  	<li class="menu-item">
	                    <a th:href="@{/sFunction/supplier/test}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="client">管理供應商</div>
	                   </a>
                  	</li>
                 </ul>
               </li>

               <li class="menu-item"> 
	                <a href="#" class="menu-link menu-toggle">
	                    <i class="menu-icon tf-icons bx bx-package"></i>
	                    <div data-i18n="store">庫存作業</div>
	                 </a>
                <ul class="menu-sub">
                   <li class="menu-item">
	                  <a th:href="@{/sFunction/material/listAllMaterial}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="store">管理物料</div>
	                  </a>
                   </li>
                   <li class="menu-item">
	                  <a th:href="@{/sFunction/material/select_page}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="store">查詢物料</div>
	                  </a>
                   </li>
                     <li class="menu-item">
	                    <a th:href="@{/sFunction/itemsclass/listAllItemsClass}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="store">管理物料分類</div>
	                   </a>
                   </li>
                   <li class="menu-item">
	                    <a th:href="@{/sFunction/picking/listAllPicking}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="store">領料申請</div>
	                   </a>
                   </li>
                     <li class="menu-item">
	                    <a th:href="@{/sFunction/picking/select_page}" class="menu-link">
	                    <i class="menu-icon"></i>
	                    <div data-i18n="store">查詢領料表</div>
	                   </a>
                   </li>
                 </ul>
               </li>
              <!-- Order-->
               <li class="menu-header small text-uppercase"><span class="menu-header-text">Order</span></li>

               <!--管理訂單        -->             
				<li class="menu-item">
					<a th:href="@{/sFunction/orders/select_page}" class="menu-link"> 
					    <i class="menu-icon tf-icons bx bx-receipt"></i>
							<div data-i18n="orders">管理訂單</div>
					      </a> 
					   </li>
                    <li class="menu-item">
  					  <a href="#" class="menu-link" th:onclick="submitForm('orderOrders')">
                        <i class="menu-icon tf-icons bx bx-sort-up"></i>
                           <div data-i18n="store">顯示訂單排程</div>
                      </a>
                   </li>
                           
             <!-- Meals-->
              <li class="menu-header small text-uppercase"> <span class="menu-header-text">Meals</span></li>
              
              <li class="menu-item">
	                <a th:href="@{/sFunction/meals/select_page}" class="menu-link">
	                <i class="menu-icon tf-icons bx bx-restaurant"></i>
	                <div data-i18n="Authentications">管理餐點</div>
	                </a>
              </li>    
            <!-- Store -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Store</span></li>

             <li class="menu-item">
                  <a href="#" class="menu-link" th:onclick="submitForm('storeInfo')">                 
	                   <i class="menu-icon tf-icons bx bx-spreadsheet"></i>
	                   <div data-i18n="store">店家資料管理</div>
                 </a>
             </li>
              <li class="menu-item">
	              <a href="#" class="menu-link">
	                <i class="menu-icon tf-icons bx bx-message-dots"></i>
	                <div data-i18n="Account Settings">查看評論</div>
	              </a>
              </li>

             <li class="menu-item">
	               <a href="@{/sFunction/storeEmp/select_page}" class="menu-link">
	                 <i class="menu-icon tf-icons bx bx-dock-top"></i>
	                 <div data-i18n="store">店家員工帳號管理</div>
	              </a>
             </li>
             <li class="menu-item">
	              <a href="#" class="menu-link">
	              <i class="menu-icon tf-icons bx bx-support"></i>
	              <div data-i18n="Support">諮詢線上客服</div>
	              </a>
             </li>
             <li class="menu-item">
	              <a href="#" class="menu-link">
	                <i class="menu-icon tf-icons bx bx-exit"></i>
	              <div data-i18n="Exit">登出</div>
	              </a>
              </li>
           </ul>
        </aside>
        
        <!-- / Menu -->
        <!-- / Navbar -->
        <!-- Layout container -->
        <div class="layout-page">
            
            <!-- Content-wrapper 麵包屑 -->
          <div class="content-wrapper"> 
                        <!-- Content -->
              <div class="container-xxl flex-grow-1 container-p-y">
                          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">店家後台首頁 /</span> 查詢物料</h4>        
              <div class="row" >
                <div class="col-xx1" >
                  <div class="card mb-4">
<!--                     <h5 class="card-header">資料查詢</h5> -->
                    <div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div>
                    <div class="card-body">
                    <form method="post" th:action="@{listMaterial_ByCompositeQuery}">
                      <div>
                        <label for="defaultFormControlInput" class="form-label">物料名稱</label>
                        <input
                          type="text"
                          name="itemName"
                          class="form-control"
                          id="defaultFormControlInput"
                          placeholder=""
                          value=""
                          aria-describedby="defaultFormControlHelp"
                        />
                        <div id="defaultFormControlHelp" class="form-text">
                          請輸入物料名稱.
                        </div>
                        <br>
                      </div>
                      <div class="mb-3">
                        <label for="defaultSelect" class="form-label">選擇物料分類編號</label>
                        <select id="defaultSelect" class="form-select" th:field="*{itemsClassVO.itemClassId}">
                          <option value=""></option>
                          <option th:each="itemsClassVO : ${itemsClassListData}" th:value="${itemsClassVO.itemClassId}" th:text="${itemsClassVO.itemClassId} + ${itemsClassVO.itemClassName}" />
                        </select>
                      </div>
                      <br>
                      <div class="mb-3">
                        <label for="defaultSelect" class="form-label">選擇物料狀態</label>
                        <select id="defaultSelect" class="form-select" name="itemStatus">
                          <option value="0">數量足夠</option>
                          <option value="1">低於安全庫存</option>
                          <option value="2">作廢</option>
                        </select>
                      </div>
                      <br>
                       <div class="mb-3 row">
                        <label for="html5-date-input" class="col-md-2 col-form-label">採購需求送出日期</label>
                        <div class="col-md-10">
                          <input class="form-control" name="purDate" type="date" value="" id="html5-date-input" />
                           <div id="defaultFormControlHelp" class="form-text">開始日期.</div>
                          <input class="form-control" name="purDate" type="date" value="" id="html5-date-input" />
                           <div id="defaultFormControlHelp" class="form-text">結束日期.</div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">送出</button>
                      </form>
                    </div>
                 
                  </div>
                </div>
           
               </div>
                <!-- /row -->
              </div>
               <!-- /Content -->
               
                <div class="" th:if="${getOne_For_Display}">
		         <div
			        th:insert="~{/sFunction/material/listOneMaterial :: listOneMaterial-div}"></div>
	             </div>        

 <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
	                  ©
	                  <script>
	                    document.write(new Date().getFullYear());
	                  </script>
	                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Tibame Cha104 Team1</a>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
  		</div>      
  		<!-- /  Layout page -->
        
         <!-- Overlay -->
       <div class="layout-overlay layout-menu-toggle"></div>
    </div>	  
  </div>
    <!-- / Layout wrapper -->
    <!-- Helpers -->
    <script th:src="@{/backhome/js/helpers.js}"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script th:src="@{/backhome/js/config.js}"></script>  
    <!-- build:js assets/vendor/js/core.js -->
    <script th:src="@{/backhome/libs/jquery/jquery.js}"></script>
    <script th:src="@{/backhome/libs/popper/popper.js}"></script>
    <script th:src="@{/backhome/js/bootstrap.js}"></script>
    <script th:src="@{/backhome/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/backhome/js/menu.js}"></script>

    <!-- Main JS -->
    <script th:src="@{/backhome/js/main.js}"></script>
    <!-- Page JS -->
    <script th:src="@{/backhome/js/form-basic-inputs.js}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
<!-- 	<nav -->
<!-- 		class="navbar navbar-expand-md bg-success fixed-top justify-content-center"> -->
<!-- 		<div align="center"> -->
<!-- 			<h2>物料管理 - select_page.html</h2> -->
<!-- 			<h3> -->
<!-- 				<a class="navbar-brand" th:href="@{/}"><img -->
<!-- 					th:src="@{/images/back1.gif}">回index.html</a> -->
<!-- 			</h3> -->
<!-- 		</div> -->
<!-- 	</nav> -->

<!-- 	<h4> -->
<!-- 		<span>資料查詢:</span> -->
<!-- 	</h4> -->
	<!-- 錯誤表列 -->
<!-- 	<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div> -->
<!-- 	<br> -->
<!-- 	<div class="a"> -->
<!-- 		<ul> -->
<!-- 			<li><h5> -->
<!-- 					<a href='listAllMaterial'>List</a> all Material. <br> -->
<!-- 					<br> -->
<!-- 				</h5></li> -->
			
			<!--  萬用複合查詢-以下欄位-可隨意增減 -->
<!--             <li> -->
<!-- 	         <form method="post" th:action="@{listMaterial_ByCompositeQuery}"> -->
<!-- 	         <font color=blue>萬用複合查詢:</font><br> -->
<!-- 	          物料名稱:  -->
<!--               <input type="text" name="itemName" value=""><br> -->
             
<!--               選擇物料分類編號:            -->
<!--               <select th:field="*{itemsClassVO.itemClassId}"> -->
<!-- 			  <option value=""> -->
<!-- 			  <option th:each="itemsClassVO : ${itemsClassListData}" th:value="${itemsClassVO.itemClassId}" th:text="${itemsClassVO.itemClassId} + ${itemsClassVO.itemClassName}" /> -->
<!-- 		      </select><br> -->
              
<!--               庫存數量:  -->
<!--               <input type="text" name="stockQuantity" value=""><br> -->
              
<!--               未入庫數量:  -->
<!--               <input type="text" name="quantityNot" value=""><br> -->
              
<!--               安全庫存線: -->
<!--               <input type="text" name="safetyStock" value=""><br> -->
              
<!--               選擇物料狀態: -->
<!--               	<select name="itemStatus"> -->
<!-- 				     <option value="0">數量足夠</option> -->
<!-- 		  			 <option value="1">低於安全庫存</option> -->
<!-- 		  			 <option value="2">作廢</option> -->
<!-- 			    </select> -->
              
<!--               採購需求送出日期:  -->
<!--               <input type="Date" name="purDate"> ~ <input type="Date" name="purDate"><br> -->
              
<!--               店家流水號:  -->
<!--               <input type="text" name="storeId" value=""><br> -->
              
              
<!--               <input type="submit" value="送出"> -->
<!-- 			</form> -->
<!-- 			</li> -->
<!-- 		</ul> -->

<!-- 		<h4> -->
<!-- 			<span>物料管理</span> -->
<!-- 		</h4> -->
<!-- 		<ul> -->
<!-- 			<li><h5> -->
<!-- 					<a href='addMaterial'>Add</a> a new Material. -->
<!-- 				</h5> -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 	</div> -->
	<!-- 旗標getOne_For_Display見EmpnoController.java的第58行 -->
<!-- 	<div class="b" th:if="${getOne_For_Display}"> -->
		<!--使用listOneEmp.html網頁的listOneEmp-div片段-->
		<!-- 見listOneEmp.html的第35行的th:fragment="listOneEmp-div" -->
		<!-- 使用th:replace也可 -->
<!-- 		<div -->
<!-- 			th:insert="~{/sFunction/material/listOneMaterial :: listOneMaterial-div}"></div> -->
<!-- 	</div> -->
